<h1>Add a New URL</h1>
<%= form_for :url, method: 'post', url: {action: 'create'} do |f| %>
    <%= label(:url, :url) %>
    <%= f.text_field :url %><br>
    <%= label(:url, :description) %>
    <%= f.text_area :description %><br>
    <%= f.submit "Add New URL" %>
<% end %>